datasets
einops
elasticsearch
fuzzysearch
gymnasium
imutils
langchain
langgraph
matplotlib
networkx
notebook==6.5.4
numpy
pandas
pymupdf
pyspellchecker
python-levenshtein
qdrant-client
sentence-transformers
scikit-image
tensorboard
tiktoken
torch==2.2.2
torchmetrics
torchsummary
torchtyping
torchvision
transformers
traitlets==5.9.0
unidecode